In [2]:
import os
from nltk.corpus import PlaintextCorpusReader
from tqdm import tqdm
import pandas as pd
import regex as re
from string import punctuation

from inltk.inltk import tokenize
from inltk.inltk import get_embedding_vectors
from inltk.inltk import tokenize

from gensim.models import FastText
import csv

In [ ]:
directory = 'Data/malayalam_dataset'

dataset_list=[]

for filename in tqdm(os.listdir(directory)):
    f=open(directory+'/'+filename, "r").read()
    dataset_list.append(f)

data_dict={"raw_data":dataset_list}
df = pd.DataFrame(data_dict)

100%|██████████| 187033/187033 [00:47<00:00, 3900.70it/s]

In [4]:
df.head()

                                            raw_data
0  <DOC>\n<DOCNO>115101132421.utf8</DOCNO>\n<TEXT...
1  <DOC>\n<DOCNO>115062696126.utf8</DOCNO>\n<TEXT...
2  <DOC>\n<DOCNO>115020765535.utf8</DOCNO>\n<TEXT...
3  <DOC>\n<DOCNO>117071871684.utf8</DOCNO>\n<TEXT...
4  <DOC>\n<DOCNO>116092281566.utf8</DOCNO>\n<TEXT...

In [2]:
common_eng_words=["january", "february", "march", "april", "may", "june", "july", "august", "september", "october", "november", "december", "pm", "am", "ist"]

def preprocess_text(text):
    text = text.lower()
    text = re.sub(r"https?://\S+", "", text)
    text = re.sub(r"<.*?>", " ", text)
    text = re.sub(r"\d.*?utf8", " ", text)
    text = " ".join([w for w in text.split() if not w.isdigit()])
    text = re.sub(f"[{re.escape(punctuation)}]", "", text)
    text = " ".join(text.split())
    return text

df["cleaned_data"]=df["raw_data"].apply(lambda x: preprocess_text(x))
df['cleaned_data'] = df.apply(lambda row: [word for word in row['cleaned_data'].split(' ') if "day" not in word], axis=1)
df['cleaned_data'] = df.apply(lambda row: [word for word in row['cleaned_data'] if not word.isdigit()], axis=1)
df['cleaned_data_no_english'] = df.apply(lambda row: ' '.join([word for word in row['cleaned_data'] if word not in common_eng_words]), axis=1)

NameError: name 'df' is not defined

In [6]:
df.head()

,raw_data,cleaned_data,cleaned_data_no_english
0,<DOC>\n<DOCNO>115101132421.utf8</DOCNO>\n<TEXT...,"[പഴനി, october, pm, ist, പരമശിവനും, പാര്‍വതിയു...",പഴനി പരമശിവനും പാര്‍വതിയും ഗണപതിയും സുബ്രഹ്മണ്...
1,<DOC>\n<DOCNO>115062696126.utf8</DOCNO>\n<TEXT...,"[അത്, സ്വാതന്ത്യ, സമരമായിരുന്നു, june, am, ist...",അത് സ്വാതന്ത്യ സമരമായിരുന്നു ബ്രിട്ടീഷ്‌രാജിന്...
2,<DOC>\n<DOCNO>115020765535.utf8</DOCNO>\n<TEXT...,"[എഎപിക്കാരുടെ, പരാതി, പ്രളയം, മുന്‍കൂര്‍, ജാമ്...",എഎപിക്കാരുടെ പരാതി പ്രളയം മുന്‍കൂര്‍ ജാമ്യമെന്...
3,<DOC>\n<DOCNO>117071871684.utf8</DOCNO>\n<TEXT...,"[ഹിറ്റ്‌ലറുടെ, മെയ്ന്‍, കാംഫ്, പ്രസിദ്ധീകരിച്ച...",ഹിറ്റ്‌ലറുടെ മെയ്ന്‍ കാംഫ് പ്രസിദ്ധീകരിച്ചത് ഇ...
4,<DOC>\n<DOCNO>116092281566.utf8</DOCNO>\n<TEXT...,"[ലോക, ടൂറിസം, ദിനാഘോഷം, ന്, september, pm, ist...",ലോക ടൂറിസം ദിനാഘോഷം ന് കണ്ണൂര്‍ കണ്ണൂര്‍ ജില്ല...

In [3]:
df['cleaned_data_no_english'].to_csv('processed_data/mal_pro.csv', index=False)

NameError: name 'df' is not defined

In [4]:
df=pd.read_csv('processed_data/mal_pro.csv')
df.head()

                             cleaned_data_no_english
0  പഴനി പരമശിവനും പാര്‍വതിയും ഗണപതിയും സുബ്രഹ്മണ്...
1  അത് സ്വാതന്ത്യ സമരമായിരുന്നു ബ്രിട്ടീഷ്‌രാജിന്...
2  എഎപിക്കാരുടെ പരാതി പ്രളയം മുന്‍കൂര്‍ ജാമ്യമെന്...
3  ഹിറ്റ്‌ലറുടെ മെയ്ന്‍ കാംഫ് പ്രസിദ്ധീകരിച്ചത് ഇ...
4  ലോക ടൂറിസം ദിനാഘോഷം ന് കണ്ണൂര്‍ കണ്ണൂര്‍ ജില്ല...

In [5]:
df.to_csv(r'Data/mal_out.txt', header=None, index=None, sep=' ', mode='a')

In [7]:
with open("Data/mal_out.txt", "w") as text_file:
    text_file.write(data)